.nav>li>a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 3px solid #5B6066;
  }
  
  /* 悬停背景色 */
  
  .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #5B6066;
    color: white;
  }
  
  .nav>li.disabled>a {
    color: rgb(255, 0, 0)
  }
  
  /* 选中后字色 */
  
  a:focus, .nav>li.disabled>a:hover {
    color: #0083B3;
    text-decoration: none;
    cursor: not-allowed;
    border: 3px solid #5B6066;
  }
  
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgb(255, 0, 0);
    border-color: #ff0000
  }
  
  .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 3px solid #0083B3
  }
  
  .nav-tabs {
    border-bottom: 5px solid #0083B3
  }
  
  /* 边框色 上 左右 下 */
  
  .nav-tabs>li>a {
    border-color: transparent;
    border-bottom: 5px solid rgb(0, 0, 0)
  }
  
  /* 悬停边框色 上 左右 下 */
  
  .nav-tabs>li>a:hover {
    border: 3px solid #5B6066
  }
  
  /* 打开 */
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: rgb(255, 255, 255);
    cursor: default;
    background-color: #0083B3;
    border: 0px solid #0083B3;
  }