#table {
    margin: auto;
    width: 745px;
  }

Table {
    margin: auto;
    width: 745px;
  }


  #thh {
    text-align: center;
  }
  
  #editInput{
    text-align: center;
  }
  
  #searchInput{
    width: 100px;
  }